  <div class="col-md-4 my-2">
<div class="card" style="width: 16rem;" id="one">
  <img src="{{ i.photos.url}}" class="mx-auto d-block "  alt="..." style="width:8rem;">
  <div class="card-body">
    <a href="#" style="text-decoration:none;color:black">{{ i.name}}</a>
    <a href="#" class="text-purple-500 hover:text-purple-800 " style="padding-left:90px;text-decoration:none;color:black">Shop</a>
  </div>
  <div style="padding-left:18px">
    <p style="color:gray">{{i.get_price}}</p>

  </div>
</div>
  </div>